.sapMOH{
	padding: 1rem 2rem 0rem 2rem !important;
}
div[id*="ratingElement"] .sapMCbBg{
	left:0;
	top:0;
}
.sapUiSizeCompact .sapMTB{
	height: 3rem;
}

table[id*="risksCountryTable"] .sapMCbMarkChecked {
    border-color: red !important;
}

table[id*="risksCountryTable"] .sapMCbBg.sapMCbMarkChecked:before {
    color: red !important;
}

/* ---- UTIS SUEK THEME ---- */

.sapUiTheme-utistheme1 .sapMTextAreaInner{
	min-height: 47px;
	padding: 0.1875rem 0.5rem;
	line-height: 1.4;
}

.sapUiTheme-utistheme1 div[id*="master"] .sapMLIB.sapMLIBSelected{
	background: rgba(100,100,100,.2);
}

.sapUiTheme-utistheme1 .sapUiBlockCellContent .sapMLabel{
	color: #fff;
}

.sapUiTheme-utistheme1 .sapUiBlockLayoutSizeM .sapUiBlockCellContent{
	padding: 1rem;
}

.sapUiTheme-utistheme1 .sapUiSizeCompact .sapMPageWithFooter>section{
	background: rgba(255,255,255,.2);
}

@media(min-width: 80rem){
	.sapUiTheme-utistheme1 .sapUShellApplicationContainer{
		width: 80rem !important;
		margin-right: auto;
		margin-left: auto;
	}
}