.sapMOH{
	padding: 1rem 2rem 0rem 2rem !important;
}
.black.sapMLabel{
	color: black;
}
.red.sapMLabel{
	color: #fa8585 !important;
	font-weight: bold;
}
div[id*="ratingElement"] .sapMCbBg{
	left:0;
	top:0;
}
.padding{
	padding: 1rem;
}
.sapUiSizeCompact .sapMTB{
	height: 3rem;
}
.sapMPageFooter .sapContrast div:first-child{
	display: none;
}
.wrap{
	white-space: normal;
	line-height: normal;
	vertical-align: middle;
}
table[id*="risksCountryTable"] .sapMCbMarkChecked {
    border-color: red !important;
}

table[id*="risksCountryTable"] .sapMCbBg.sapMCbMarkChecked:before {
    color: red !important;
}
.margin-bottom{
	margin-bottom: 1rem;
}
.sapUshellShell .sapMPageBgStandard{
	background-color:transparent;
}

/* ---- UTIS SUEK THEME ---- */
.sapUiTheme-utistheme1 .sapMInputDivWrapper{
	height: 100%;
}
.sapUiTheme-utistheme1 .sapMTextAreaInner{
	min-height: 47px;
	height: 100%;
	padding: 0.1875rem 0.5rem;
	line-height: 1.4;
}

.sapUiTheme-utistheme1 div[id*="master"] .sapMLIB.sapMLIBSelected{
	background: rgba(100,100,100,.2);
}

.sapUiTheme-utistheme1 .sapUiBlockCellContent .sapMLabel{
	color: #fff;
}

.sapUiTheme-utistheme1 .sapUiBlockLayoutSizeM .sapUiBlockCellContent,
.sapUiTheme-utistheme1 .sapUiBlockLayoutSizeL .sapUiBlockCellContent{
	padding: 1rem !important;
}

.sapUiTheme-utistheme1 .sapUiSizeCompact .sapMPageWithFooter>section{
	background: rgba(255,255,255,.2);
}

@media(min-width: 80rem){
	.sapUiTheme-utistheme1 .sapUShellApplicationContainer{
		width: 80rem !important;
		margin-right: auto;
		margin-left: auto;
	}
}